absl-py==0.12.0
alabaster==0.7.12
appdirs==1.4.4
astor==0.8.1
attrs==20.3.0
audioread==2.1.9
Babel==2.9.0
black==19.10b0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
common-cmplr-lib-rt==2021.2.0
common-cmplr-lic-rt==2021.2.0
cryptography==3.4.7
cycler==0.10.0
cytoolz==0.11.0
dask==2021.4.0
decorator==4.4.2
docutils==0.17
dpcpp-cpp-rt==2021.2.0
fsspec==0.9.0
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.36.1
h5py==2.10.0
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.10.0
intel-openmp==2021.2.0
jams==0.3.4
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.33.0
locket==0.2.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mdx-truly-sane-lists==1.2
mir-eval==0.6
mkl==2021.2.0
mkl-random==1.2.1
mkl-service==2.3.0
networkx==2.5.1
numba==0.50.1
numpy==1.16.2
olefile==0.46
opencl-rt==2021.2.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
partd==1.1.0
pathlib==1.0.1
pathspec==0.8.1
patsy==0.5.1
Pillow==8.2.0
pooch==1.3.0
protobuf==3.13.0
pumpp==0.5.0
pycparser==2.20
pydub==0.24.1
Pygments==2.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypinyin==0.41.0
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2021.4.4
requests==2.25.1
resampy==0.2.2
scikit-image==0.16.2
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
sox==1.4.1
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.12.2
tbb==2021.2.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tf-slim==1.1.0
Theano==1.0.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.59.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.12.1
zipp==3.4.1
